</div>
</main>
<!--Main Layout-->
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <script src="/scripts/mdb.js">
  </script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>
</body>

</html>
