<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link defer rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/mdbcircleAnimation.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-clockpicker.min.css">
  <link rel="stylesheet" href="/stylesheets/mdb.css">
  <link rel="stylesheet" href="/stylesheets/dropzone.css">
  
  <title>HRIS UPH | Medan Campus</title>
</head>
