<div class="light-blue-skin">
  <!--Double navigation-->
    <!-- <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar list-unstyled" style="max-height:100vh;">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="/dashboard"><img src="/images/logo.png" class="img-fluid flex-center"></a>
                    </div>
                </li>
                <!--/. Logo -->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li><a class="collapsible-header waves-effect arrow-r"></i>Employee<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/employee" class="waves-effect">New Employee</a>
                                    </li>
                                    <li><a href="/employee/view" class="waves-effect">View Employee</a>
                                    </li>
<!--                                     <li><a href="/employee" class="waves-effect">Edit Employee</a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"></i>Attendance<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/attendance/upload" class="waves-effect">Upload Attendance</a>
                                    </li>
                                    <li><a href="/attendance/view" class="waves-effect">View Attendance</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r">PPH Report<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/report/access/upload/pph" class="waves-effect">Upload Master Data Report</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/report/access/view/pph" class="waves-effect">View PPH Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r" href="/payroll/access">Payroll</a>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r" href="/configuration">Configuration</a>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r" href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
            </div>
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <p>HRIS</p>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item">
                    <a class="nav-link"><span class="clearfix d-none d-sm-inline-block"></span></a>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header> 
    <!--/.Double navigation-->

</div>
