<html>

<% include ../partials/head %>

<body>
  <% include ../partials/nav %>
  
  <div class="container mt-5">
    <h2>Upload Employee Excel</h2>
    <form method="POST" action="/employee/new/upload" class="dropzone" id="uploadExcel" enctype="multipart/form-data">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>
    </form>
  </div>

  <% include ../partials/script %>
  <script>
    $(document).ready(function () {
      console.log('document ready')
      $('.mdb-select').material_select()
      $('.button-collapse').sideNav()
    })

    //Dropzone
    Dropzone.options.uploadExcel = {
      url: '/employee/new/upload',
      paramName: 'file',
      dictDefaultMessage: 'Drag an excel file to upload, or click to select one',
      acceptedFiles: '.xlsx',
      maxFilesize: 1, // MB
      accept: function (file, done) {
        done()
      },
      success: function (file, response) {
        console.log(response)
        console.log('success')
      }
    }
  </script>
</body>

</html>