<% include ../partials/employeeHeader%>
<div class="container">
	<h1>Employee Status</h1>
	<form method="post" action="/employee">
		<div >
			<select class="mdb-select colorful-select dropdown-primary" id="statusEmployee" name="status" required>
				<option value="" disabled selected>Pilih Status Pegawai</option>
				<option value="dosenTetap">Dosen Tetap</option>
				<option value="dosenTidakTetap">Dosen Tidak Tetap</option>
				<option value="karyawanTetapAkademik">Karyawan Tetap Akademik</option>
				<option value="karyawanTetapNonAkademik">Karyawan Tetap Non Akademik</option>
				<option value="nonStaff">Non Staff</option>
				<option value="instrukturUKM">Instruktur UKM Club</option>
				<option value="intern">Intern</option>
				<option value="scholarship">Scholarship</option>
			</select>
			<label for="statusEmployee">Employee Status : </label>
		</div>
		<input type="submit" class="btn btn-primary">
		<!-- <button type="button" class="btn btn-primary">Next</button> -->
	</form>
</div>
<% include ../partials/employeeFooter%>
