<% include ../partials/employeeHeader%>
<div class="container">
  <h3>View employee</h3>
  <table id="dataTable" class="" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td>No.</td>
        <td>NIK</td>
        <td>Nama</td>
        <td>birthday</td>
        <td>department</td>
        <td>jam_masuk</td>
        <td>atasan_langsung</td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
      <script src="/scripts/mdb.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js">
      </script>
      <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
      </script>
      <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js">
      </script>
      <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js">
      </script>
      <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js">
      </script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.mdb-select').material_select();
    loadData();

  });
  function loadData(){
    var result=[];
    $.getJSON("/api/employeedata").then(function(data){
      console.log(data);
      for (var i = 0; i < data.length; i++) {
        result.push([
          (parseInt(i)+1),
          data[i].nik,
          data[i].nama_depan +" "+(data[i].nama_belakang ? data[i].nama_belakang : ''),
          moment(data[i].birthday).format("Do MMMM YYYY"),
          data[i].department,
          data[i].jam_masuk?moment(data[i].jam_masuk).format("HH:mm:ss"):"",
          data[i].atasan_langsung?data[i].atasan_langsung:"",
          ])
      }
      $.fn.dataTable.ext.errMode = 'none';
      $('#dataTable').DataTable({
        dom: 'Bfrtip',
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
        'pageLength',
        'copyHtml5',
        'excelHtml5',
        {
          extend: 'pdf',
          text: 'Pdf',
          orientation: 'landscape'
        }
        ],
        data: result,
        columns: [
        {title : 'No.'},
        {title : 'NIK'},
        {title : 'Nama'},
        {title : 'Birthday'},
        {title : 'Department'},
        {title : 'jam_masuk'},
        {title : 'atasan_langsung'},
        ]
      } );
      console.log(result);
    })

  }
  $(".button-collapse").sideNav();

</script>
</body>

</html>
