<% include partials/attendanceHeader%>
<h1>Configuration</h1>
<!-- Default input -->
<form action="/configuration/" method="POST">
	<div class="row" style="padding-top: 20px">
		<div class="col-6">
			<label for="inputTime">Set Dosen Tidak Tetap Maximum Time :</label>
		</div>
		<div class="col-6">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<div class="input-group clockpicker">
				<input type="text" name="maxTime" pattern="^([0-1][0-9]|2[0-3]):([0-5][0-9])$" class="form-control" value="<%= configuration.dosenTidakTetapMaxTime %>" placeholder="HH:mm">
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-md btn-primary btn-rounded" id="btnSave" style="margin-top: 20px">Save Settings</button>
</form>

<script type="text/javascript" src="/scripts/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript">
	$('.clockpicker').clockpicker({
		autoclose: true,
		placement: 'bottom',
		donetext: 'Done'
	});
</script>

<% include partials/attendanceFooter%>
