<html>

<% include ../partials/head %>

<body>
  <div class="container-fluid mt-5 row justify-content-center">
    <section class="form-elegant col-10 col-sm-8 col-md-6 col-xl-5">
      <!--Form without header-->
      <div class="card">
        <div class="card-body mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
          </div>
          <!--Body-->
          <form class="" action="/user/login" method="post">
            <div class="md-form">
              <input type="email" id="Form-email1" class="form-control" name="username" required>
              <label for="Form-email1">Email</label>
            </div>
            <div class="md-form pb-3">
              <input type="password" id="Form-pass1" class="form-control" name="password" required>
              <label for="Form-pass1">Password</label>
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>

  <% include ../partials/script %>
</body>

</html>