<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>Punctuality Report</h3>
  <a type="button" class="btn btn-primary" href="/report/punctualityReport">5 Minutes Report</a>
  <a type="button" class="btn btn-primary" href="/attendance/view2">15 Minutes Report</a>
  <a type="button" class="btn btn-primary" href="/attendance/view1">Weekly Working Hours Report</a>
  <a type="button" class="btn btn-primary" href="/attendance/view2">No Clock-In/Out Report</a>
  <!-- <a type="button" class="btn btn-primary" href="/attendance/view3">Attendance with no filter</a> -->
</div>
<% include ../partials/attendanceFooter%>
