<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>Punctuality Report</h3>
  <a type="button" class="btn btn-primary" href="/report/telat5">5 Minutes Report</a>
  <a type="button" class="btn btn-primary" href="/report/telat15">15 Minutes Report</a>
  <a type="button" class="btn btn-primary" href="/report/tidakClockOut">No Clock-In/Out Report</a>
  <a type="button" class="btn btn-primary" href="/report/404">Weekly Working Hours Report</a>
  <!-- <a type="button" class="btn btn-primary" href="/attendance/view3">Attendance with no filter</a> -->
</div>
<% include ../partials/attendanceFooter%>
