<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>Upload employee</h3>
  <a type="button" class="btn btn-primary" href="/report/upload/pphexcel">Upload Excel</a>
</div>
<% include ../partials/pphFooter%>
