<% include ../partials/attendanceHeader%>
<div class="container">
  <h2>Upload employee excel</h2>
  <form method="post" action="" class="dropzone" id="uploadExcel" enctype="multipart/form-data">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  <p id="successText"></p>
</div>
<% include ../partials/pphFooter%>
