<% include ../partials/attendanceHeader%>
<div class="container">
  <h2>Upload employee excel</h2>
  <form method="post" action="" class="dropzone" id="uploadExcel" enctype="multipart/form-data">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  <br>
  <div id="status_box" style="display: none;" class="alert alert-warning" role="alert">
    You have one or more empty compulsory field(s) <br>
    <ul>
    </ul>
  </div>
</div>
<% include ../partials/pphFooter%>
