<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>View Pph Report</h3>
  <table id="dataTable" class="" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td>nik</td>
        <td>kategori_pegawai</td>
        <td>tanggal_mulai_kerja</td>
        <td>tanggal_mutasi_kerja</td>
        <td>tanggal_berhenti_kerja </td>
        <td>no_ktp</td>
        <td>tempat_lahir</td>
        <td>tanggal_lahir</td>
        <td>jenis_kelamin</td>
        <td>alamat </td>
        <td>rtrw</td>
        <td>kelurahan_desa</td>
        <td>kecamatan </td>
        <td>agama </td>
        <td>status_perkawinan </td>
        <td>kewarganegaraan</td>
        <td>jabatan </td>
        <td>grade</td>
        <td>department </td>
        <td>spesialisasi </td>
        <td>cost_center</td> 
        <td>status_pegawai </td>
        <td>nomor_kontrak </td>
        <td>tanggal_kontrak_mulai </td>
        <td>tanggal_kontrak_berakhir </td>
        <td>nomor_sk_rektor </td>
        <td>tanggal_isk_berlaku </td>
        <td>tanggal_isk_berhenti_berlaku</td>
        <td>npwp </td>
        <td>nama_pajak </td>
        <td>alamat_pajak </td>
        <td>nama_kpp </td>
        <td>status_ptkp </td>
        <td>atas_nama_bank </td>
        <td>nama_bank </td>
        <td>no_rekening </td>
        <td>bpjstk</td>
        <td>bpjskis</td>
      </tr>
 <!--     <% for (i in pph) { %>
            <tr>
              <td><%= (parseInt(i)+1) %></td>
              <td><%= pph[i].nik %></td>
              <td><%= pph[i].kategori_pegawai %></td>
              <td><%= moment(pph[i].tangal_mulai_kerja).format("Do MMMM YYYY") %></td>
            </tr>
            <% } %> -->
          </thead>
          <tbody>

          </tbody>
        </table>
        <!-- Button trigger modal -->
        <button id="btnDeletePopup" type="button" class="btn btn-sm btn-danger" data-toggle="" data-target="#exampleModal">
         Delete
       </button>
     </div>




     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to delete this data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <form id="delete" class="delete-form" action="" method="POST">
              <button id="btnDelete" class="btn btn-primary">
                <span><i class="glyphicon glyphicon-remove"></i></span> Delete
              </button>
            </form> 
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="/scripts/mdb.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js">
    </script>
    <script type="text/javascript">

      var selected=null;
      var table;
      $(document).ready(function() {
        $('.mdb-select').material_select();
        loadData();

      });

      function loadData(){
        var result=[];
        $.getJSON("/api/pph").then(function(data){
          console.log(data);
          for (var i = 0; i < data.length; i++) {
            result.push([
              data[i].nik,
              data[i].kategori_pegawai,
              data[i].tanggal_mulai_kerja?moment.utc(data[i].tanggal_mulai_kerja).format("DD-MMM-YYYY") : "",
              data[i].tanggal_mutasi_kerja?moment.utc(data[i].tanggal_mutasi_kerja).format("DD-MMM-YYYY") : "",
              data[i].tanggal_berhenti_kerja?moment.utc(data[i].tanggal_berhenti_kerja).format("DD-MMM-YYYY") : "",
              data[i].no_ktp,
              data[i].tempat_lahir,
              data[i].tanggal_lahir?moment.utc(data[i].tanggal_lahir).format("DD-MMM-YYYY"):"",
              data[i].jenis_kelamin,
              data[i].alamat,
              data[i].rtrw,
              data[i].kelurahan_desa,
              data[i].kecamatan,
              data[i].agama,
              data[i].status_perkawinan,
              data[i].kewarganegaraan,
              data[i].jabatan,
              data[i].grade,
              data[i].department,
              data[i].spesialisasi,
              data[i].cost_center,
              data[i].status_pegawai,
              data[i].nomor_kontrak,
              data[i].tanggal_kontrak_mulai?moment.utc(data[i].tanggal_kontrak_mulai).format("DD-MMM-YYYY"):"",
              data[i].tanggal_kontrak_berakhir?moment.utc(data[i].tanggal_kontrak_berakhir).format("DD-MMM-YYYY"):"",
              data[i].nomor_sk_rektor,
              data[i].tanggal_isk_berlaku?moment.utc(data[i].tanggal_isk_berlaku).format("DD-MMM-YYYY"): "",
              data[i].tanggal_isk_berhenti_berlaku?moment.utc(data[i].tanggal_isk_berhenti_berlaku).format("DD-MMM-YYYY"): "",
              data[i].npwp,
              data[i].nama_pajak,
              data[i].alamat_pajak,
              data[i].nama_kpp,
              data[i].status_ptkp,
              data[i].atas_nama_bank,
              data[i].nama_bank,
              data[i].no_rekening,
              data[i].bpjstk,
              data[i].bpjskis,
              data[i]._id,
              ])
          }
          $.fn.dataTable.ext.errMode = 'none';
          $('#dataTable').DataTable( {
            dom: 'Bfrtip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
            'pageLength',
            'copyHtml5',
            'excelHtml5',
            {
              extend: 'pdf',
              text: 'Pdf',
              orientation: 'landscape'
            }
            ],
            data: result,
            columns: [
            {title : 'NIK'},
            {title : 'Kategori Pegawai'},
            {title : 'Tanggal Mulai Kerja'},
            {title : 'Tanggal Mutasi Kerja'},
            {title : 'Tanggal Berhenti Kerja'},
            {title : 'No KTP'},
            {title : 'Tempat Lahir'},
            {title : 'Tanggal Lahir'},
            {title : 'Jenis Kelamin'},
            {title : 'Alamat'},
            {title : 'RTRW'},
            {title : 'Kelurahan Desa'},
            {title : 'Kecamatan'},
            {title : 'Agama'},
            {title :'Status Perkawinan'},
            {title :'Kewarganegaraan'},
            {title :'Jabatan'},
            {title :'Grade'},
            {title :'Department'},
            {title :'Spesialisasi'},
            {title :'Cost Center'},
            {title :'Status Pegawai'},
            {title :'Nomor Kontrak'},
            {title :'Tanggal Kontrak Mulai'},
            {title :'Tanggal Kontrak Berakhir'},
            {title :'Nomor sk Rektor '},
            {title :'Tanggal ISK Berlaku'},
            {title :'Tanggal ISK Berhenti Berlaku'},
            {title :'NPWP'},
            {title :'Nama Pajak'},
            {title :'Alamat Pajak'},
            {title :'Nama Kpp'},
            {title :'Status Ptkp'},
            {title :'Atas Nama Bank'},
            {title :'Nama Bank'},
            {title :'No Rekening'},
            {title :'BPJSTK'},
            {title :'BPJSKIS'},
            ]
          } );
          console.log(result);
          table=$('#dataTable').DataTable();
        })
}
$(".button-collapse").sideNav();
$('#dataTable tbody').on('click','tr',function(){
  var data = table.row(this).data();
  // console.log("You clicked "+data[0])
  $('#dataTable tr').css('background','white')
  $(this).css('background' ,'#f9f9f9');
  selected=data[38];
  console.log(selected);
})
$('#btnDelete').on('click',function(){
  $('#delete').attr('action','/report/'+selected +'?_method=DELETE');
})
$('#btnDeletePopup').on('click',function(){
  if(selected != null){
    $('#btnDeletePopup').attr('data-toggle','modal')
  }else{
    toastr.info('Please Select a Data.');
  }
})
</script>
</body>

</html>

