<html>

<% include ../partials/head %>

<body>
  <% include ../partials/nav %>
  <div class="container mt-5">
    <h3>Upload Attendance Excel</h3>
    <a type="button" class="btn btn-primary" href="/attendance/new/upload">Upload Excel</a>
  </div>

  <% include ../partials/script %>
	<script>
		$(".button-collapse").sideNav();
	</script>
</body>

</html>