<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>Upload attendance</h3>
  <a type="button" class="btn btn-primary" href="/attendance/uploadexcel">Upload Excel</a>
</div>
<% include ../partials/attendanceFooter%>
