<html>

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="container mt-5">
    <h3>View Attendance</h3>
    <a type="button" class="btn btn-primary" href="/attendance/view/1">Attendance with Sign In/out</a>
    <a type="button" class="btn btn-primary" href="/attendance/view/2">Attendance with Full Clock</a>
  </div>

  <% include ../partials/script %>
	<script>
		$(".button-collapse").sideNav();
	</script>
</body>

</html>