<% include ../partials/attendanceHeader%>
  <div class="container">
    <h3>View Attendance With Sign in/out</h3>
    <div id="validation-alert" class="alert alert-danger" style="display: none; text-align: center;" role="alert"></div>
    <table class="table">
      <label class="pl-3">From:</label>
      <div class="md-form col-xl-3">
        <input name="from" type="date" id="from" required>
      </div>
      <label class="pl-3">To:</label>
      <div class="md-form col-xl-3">
        <input name="to" type="date" id="to" required>
      </div>
      <button id="generateButton" type="button" class="btn btn-primary">Generate</button>
      <br>
      <div class="preloader-wrapper big active" id="spinner" style="display: none;top: 50%; left: 50%;">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

      <table id="dataTable" style="display: none" class="table stripe" cellspacing="0" width="100%">
        <thead>
          <tr>
            <td>NIK</td>
            <td>Nama</td>
            <td>Department</td>
            <td>Atasan Langsung</td>
            <td>Tanggal</td>
            <td>Jam Masuk</td>
            <td>Absensi</td>
            <td>Full Working Hours</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </table>
  </div>

  </div>
  </main>
  <br>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="/scripts/mdb.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js">
  </script>
  <script src="/scripts/attendances/clock-list-dialog.js"></script>
  <script src="/scripts/attendances/clock-pairing.js"></script>

  <script type="text/javascript">
    let dosenTidakTetapMaxTime = '<%=configuration.dosenTidakTetapMaxTime%>';
    let clockPairings = clockPairing();
    let dosenTidakTetapMaxTimeMs = clockPairings.toMiliSeconds(dosenTidakTetapMaxTime);

    $(document).ready(function () {
      $(document).ready(function () {
        $('.mdb-select').material_select();
        $.when(
          $("#dataTable_wrapper").hide(0) //hide parent wrapper
        ).done(() => {
          $("#dataTable").show(0); //show its child element
        });
      });
      $('#dataTable').DataTable({
        dom: 'Bfrtip',
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        buttons: [
          'pageLength',
          'copyHtml5',
          'excelHtml5',
          {
            extend: 'pdf',
            text: 'Pdf',
            orientation: 'landscape'
          }
        ]
      });
    });

    // data berisi array of JSON of satu orang dengan absensi-nya utk hari itu
    function loadTable(data) {
      let result = [];

      for (let i = 0; i < data.length; i++) {
        let clocks = data[i].absensi.map(clock => moment(clock.date))

        let clockPairs = clockPairings.getClockPairs(clocks);

        let clockPairsDisplay = clockPairings.getFlaggedClockPairs(
                                  clockPairs, 
                                  data[i].department === "Dosen Tidak Tetap"
                                );
        let totalWorkingTime = clockPairings.getTotalWorkingTime(
                                  clockPairs, 
                                  data[i].department === "Dosen Tidak Tetap"
                                );

        result.push([
          data[i].nik,
          data[i].first_Name + " " + (data[i].last_Name ? data[i].last_Name : ""),
          data[i].department,
          (data[i].atasan_langsung ? data[i].atasan_langsung : ""),
          moment(data[i].absensi[0]["date"]).format("D MMMM YYYY"),
          (data[i].jam_masuk ? moment(data[i].jam_masuk).format("HH:mm:ss") : ""),
          '<span class="clockList">' + clockPairsDisplay + '</span>',
          totalWorkingTime
        ])
      }

      $('#dataTable').DataTable({
        destroy: true,
        dom: 'Bfrtip',
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        buttons: [
          'pageLength',
          'copyHtml5',
          'excelHtml5',
          {
            extend: 'pdf',
            text: 'Pdf',
            orientation: 'landscape'
          }
        ],
        data: result,
        columns: [
          {title: "NIK"},
          {title: "Nama"},
          {title: "Department"},
          {title: "Atasan Langsung"},
          {title: "Tanggal"},
          {title: "Jam Masuk"},
          {title: "Absensi"},
          {title: "Full Working Hours"}
        ]
      })
    }

    function getTime(datas) {
      return datas.map((data) => {
        return moment(data["date"])
      })
    }

    $(".button-collapse").sideNav();

    function validateInput() {
      let showAlert = function (content, showAgain) {
        $.when(
          $("#validation-alert").slideUp(),
          $("#dataTable_wrapper").fadeOut()
        ).done(() => {
          $("#validation-alert").text(content);
        }).done(() => {
          if (showAgain)
            $("#validation-alert").slideDown();
        });
      };
      let fromDateString = $("#from").val();
      let toDateString = $("#to").val();
      if (fromDateString === "" || toDateString === "") {
        showAlert('Please fill in both "FROM" and "TO" dates.', true);
        return false;
      } else if (moment(fromDateString).isAfter(toDateString)) {
        showAlert('Invalid input! "FROM" date is after "TO" date.', true);
        return false;
      } else {
        showAlert('', false);
        return true;
      }
    }

    $('#generateButton').on('click', () => {
      if (!validateInput()) return;

      $.when(
        $("button").prop("disabled", true) // disable Generate button
      ).done(() => {
        $("#dataTable_wrapper").fadeOut(); // hide dataTable
      }).done(() => {
        $("#spinner").fadeIn(); // show spinner animation
      });

      let fromString = $('#from').val();
      let toString = $('#to').val();
      $.getJSON("/api/attendances", {
          from: fromString,
          to: toString
        }).then( data => {
          loadTable(data);
          
          clockListDialog().bind({
            tableId: 'dataTable',
            clockPairings: clockPairings
          });

          $.when(
            $("#spinner").fadeOut()
          ).done(() => {
            $("#dataTable_wrapper").fadeIn();
          }).done(() => {
            $("button").prop("disabled", false);
          });
        }).catch(err => {
          $.when(
            $("#spinner").fadeOut()
          ).done(() => {
            $("button").prop("disabled", false);
          });
        });
    })

    clockListDialog().bind({
      tableId: 'dataTable',
      addModalDialog: true,
      clockPairings: clockPairings
    });
  </script>
  </body>

  </html>