<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>View Attendance</h3>
  <a type="button" class="btn btn-primary" href="/attendance/view1">Attendance with sign in/out</a>
  <a type="button" class="btn btn-primary" href="/attendance/view2">Attendance with full clock</a>
  <a type="button" class="btn btn-primary" href="/attendance/view3">Attendance with no filter</a>
</div>
<% include ../partials/attendanceFooter%>
