<% include ../partials/attendanceHeader%>
<style type="text/css">
.card::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #33B5E5;
	transition: width .3s;
}

.card:hover::after {
	width: 100%;
	//transition: width .3s;
}
</style>
<div class="container">
	<h3>Generated Payroll System</h3>
	<a type="button" class="btn btn-primary" href="/#">New</a>
	<!-- Search form -->
	<div class="md-form active-cyan-2 mb-3 pull-right" style="margin-top: auto;">
		<input class="form-control" type="text" placeholder="Search" aria-label="Search">
	</div>
	<div style="margin: 5% auto" class="body-book">
		<div class="row" style="margin-top: 2%">
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Januari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Febuari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Maret <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode April <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 2%">
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Januari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Febuari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Maret <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode April <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 2%">
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Januari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Febuari <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode Maret <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Periode April <br>2018</h4>
						<p class="card-text">Start Date : 15-Desember-2017<br>
						End Date : 16-Januari-2018</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<% include ../partials/attendanceFooter%>
