<html>

<% include ../partials/head %>

<body>

    <% include ../partials/nav %>

  <div class="container mt-3">
    <h2>Upload Salary Excel (Other)</h2>
    <form method="POST" action="" class="dropzone" id="uploadExcel" enctype="multipart/form-data">
      <div class="fallback">
        <input name="file" type="file" multiple />
      </div>
    </form>
    
    <div class="alert alert-danger" role="alert" style="display:none;"></div>
  </div>

  <% include ../partials/script %>
  <script>
    $(".button-collapse").sideNav();
    //Dropzone
    Dropzone.options.uploadExcel = {
      url: '/payroll/salary/other?_method=PUT',
      paramName: 'file', // The name that will be used to transfer the file
      dictDefaultMessage: 'Drag an excel file to upload, or click to select one',
      acceptedFiles: '.xlsx',
      maxFilesize: 1, // MB
      accept: function (file, done) {
        done()
      },
      success: function (file, response) {
        console.log('success', response)
        $('.alert-danger').empty().hide()
        if (response.success) {
          toastr.success('Uploaded!')
        } else {
          toastr.success(`Failed to upload ${response.failCounter} rows`)
        }
      },
      error: function(file, error) {
        console.log('error', error)
        if (error.invalidInfo) {
          toastr.error('Invalid Excel File')
          $('.alert-danger').empty().show()
          if (error.invalidInfo.mandatoryColumns.length) {
            let $mandatoryList = $('<ul>').appendTo($('.alert-danger').append('<h3>Blank Mandatory Column(s)</h3>'))
            for (let col of error.invalidInfo.mandatoryColumns) {
              $mandatoryList.append($('<li>').text(col))
            }
          }
          if (error.invalidInfo.mismatchTypeRows.length) {
            let $mismatchList = $('<ul>').appendTo($('.alert-danger').append('<h3>Mismatch Data Type Row(s)</h3>'))
            for (let rows of error.invalidInfo.mismatchTypeRows) {
              $mismatchList.append($('<li>').text(rows))
            }
          }
          if (error.invalidInfo.uninvitedPayrolls.length) {
            let $uninvitedPayrollList = $('<ul>').appendTo($('.alert-danger').append('<h3>Non-existing Employee ID(s)</h3>'))
            for (let payroll of error.invalidInfo.uninvitedPayrolls) {
              $uninvitedPayrollList.append($('<li>').text(payroll[0]))
            }
          }
        } else {
          toastr.error('Error!')
        }
      }
    };
  </script>
</body>

</html>