<html>

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="container mt-5">
    <h3>Upload Salary</h3>
    <a type="button" class="btn btn-primary" href="/payroll/salary/monthly">Upload Monthly Salary</a>
    <a type="button" class="btn btn-primary" href="/payroll/salary/other">Upload Other Salary</a>
  </div>

  <% include ../partials/script %>
	<script>
		$(".button-collapse").sideNav();
	</script>
</body>

</html>