<% include ../partials/attendanceHeader%>
<div class="container">
  <h3>View Payroll</h3>
  <a type="button" class="btn btn-primary" href="/payroll/view/manual">Manual Date Payroll</a>
  <a type="button" class="btn btn-primary" href="/payroll/view/generatedpayroll">Generated Payroll Report System</a>
  <!-- <a type="button" class="btn btn-primary" href="/attendance/view3">Attendance with no filter</a> -->
</div>
<% include ../partials/attendanceFooter%>
